.karaokeWrapper {
  width: 100vw;
  height: 200vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.karaokeHeader {
  width: 100%;
  height: 20%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.karaokeSearch {
  width: 80%;
  height: 50%;
  background-color: red;
  /* border-radius: 30px; */
}

.songWrapper {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 2vh;
  height: 160%;
  width: 100%;
  background-color: yellow;
}

.karaokeSongs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: fit-content;
  width: 100%;
  /* padding-top: 3vh; */
  background-color: green;
}

.karaokeCard {

  /* justify-content: center; */
  /* align-items: center; */
  height: 45vh;
  width: 70%;
  margin-bottom: 1vh;
  background-color: red;
}

