* {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

main {
  /* background-color: #003153; */
    background-color: #546672;
  width: 100vw;
  height: 150vh;
}

.kursMain {
  /* background-color: #003153; */
    background-color: #546672;
  width: 100vw;
  height: 100vh;
}

.mainBox {
  /* background-color: red; */
  /* width: 100vw; */
  max-width: 1600px;
  margin: 0 auto;
  height: 200vh;
  /* overflow-y: scroll; */
  background-color: #546672;
  /* background-color: #003153; */
}

header {
  box-shadow: 0px 1px 10px 1px #000000;
  z-index: 1000;
  position: relative;
}

.navBar {
  display: flex;
  height: 12vh;
  width: 100vw;
  border-bottom: solid 1px gray;

  /* background-color: red; */
}

.navlogoDiv {
  width: 40%;
  height: 100%;
  align-items: center;
  position: relative;
  left: 1%;
  /* background-color: blue; */
}

.navbuttonDiv {
  width: 60%;
  height: 100%;
  display: flex;
  /* background-color: red; */
}

.logo {
  width: 50%;
  position: relative;
  bottom: -19%;
  right: -1%;
}

.navButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  font-size: 1.5vw;
}

.navButton:hover {
  background-color: #E4F4FC;
  border-bottom: #006cad solid 0.5vh;
  color: #006298;


}

.homeH2 {
  color: white;
  text-align: center;
  margin: 0;
}

.navbuttonsubDiv {
  width: 33.33333%;
}



.homeHeader {
  color: white;
  text-align: center;
}

.kursContainer {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-around;
  align-items: center;
}

.kursCardDiv {
  display: flex;
  justify-content: center;
  width: 50%; 
  height: fit-content;
  /* margin-top: 200px; */
}

.kursCard {
  display: flex;
  flex-direction: column;
  background-color: white; 
  width: 25vw;
  height: 70vh;
  border: 1px solid gray;
  margin-bottom: 20px; /* Add some margin between the cards */
  color: black;
  text-decoration: none;
  position: relative;
  margin-top: 20px;
  transition: 0.3s;
  bottom: -10px;
  box-shadow: 0px 1px 10px 1px #000000;
}

.kursCard:hover {
  bottom: 5px;
}

.kursIMGDiv {
  height: 65%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.kursIMG {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.kursH2Div {
  width: 100%;
  height: 10%;
  /* background-color: green; */
}

.kursCard h2 {
  text-align: center;
  margin: 0;
}

.kursPDiv {
  height: 15%;
  width: 100%;
  text-align: center;
  /* background-color: red; */
}

.kursPDiv p {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.kursButtonDiv {
  width: 100%;
  height: 8vh;
  /* background-color: yellow; */
}

.kursButton {
  /* background-color: lightblue; */
  border: 1px gray solid;
  height: 100%;
  width: 100%;
  border: none;
  transition: 0.2s;
  font-size: 2vw;
}

.kursButton:hover {
  background-color: #E4F4FC;
  border-bottom: #006cad solid 2px;
}

.loginForm {
  width: 40%;
  height: 85vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px #000000;
}

.loginForm form {
  width: 75%;
  height: 85%;
}

.submitDiv {
  height: 15%;
  width: 100%;
}

.spaceDiv {
  height: 30%;
}



.submitButton {
  width: 100%;
  height: 80%;
  /* border: none; */
  /* background-color: transparent; */
  font-size: 1.5vw;
  text-align: center;
  margin-top: 3%;
}

.noAccountDiv {
  width: 100%;
  align-items: center;
}

.noAccountButton {
  border: none;
  font-size: 107%;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  position: relative;
  align-self: center;
  justify-self: center;
  color: #006298;
}

.noAccountButton:hover {
  text-decoration: underline;
}

/* .submitButton:hover {
  border: buttonborder 1px solid ;
  border-bottom: #006cad solid 1px;
} */

.loginDiv {
  height: 18%;

}

.logintextDiv {
  height: 35%;
  overflow-y: hidden;
}

.labelDiv {
  height: 60%;
}

labelDiv input {
  width: 100%;
}

.textInput {
  transition: 0.3s;
  height: 75%;
  width: 97%;
}

.profilecard {
  width: 60%;
  height: 130vh;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5vh auto;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px #000000;
} 

.kursetIMG {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.kursetIMGDiv {
  width: 50%;
  height: 40%;
  overflow-y: hidden;
}

.kursetbeskrivelse {
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: -3%;
}

table {
  width: 50%;
  height: 15%;
  border: 1px solid gray;
  background-color: #E4F4FC;
}

td {
  border: 1px solid gray;
  text-align: center;
  background-color: white; 
}

.kursetButton {
  width: 50%;
  height: 10%;
  background-color: #E4F4FC;
  border: 0px transparent;
  transition: 0.2s;
  position: relative;
  top: 2%;
  border-radius: 10px;
  border: 1px solid #006298;
  font-size: 85%;
}

.kursetButton:hover {
  background-color: #006cad;
  /* border: 2px solid black; */
  border-bottom: 3px solid   #003153;
  box-shadow: 0px 1px 10px 1px #003153;
  color: white;
  font-weight: bold;
  font-size: 100%;
}

/* .loginForm input:hover {

   border: lightblue; 
} */
