.navBar {
  display: flex;
  height: 12vh;
  width: 100vw;
  border-bottom: solid 1px gray;
  /* background-color: red; */
}

.navlogoDiv {
  width: 40%;
  height: 100%;
  align-items: center;
  /* background-color: blue; */
}

.navbuttonDiv {
  width: 60%;
  height: 100%;
  display: flex;
  /* background-color: red; */
}

.logo {
  width: 50%;
  position: relative;
  bottom: -19%;
  right: -1%;
}

.navButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}

.navButton:hover {
  background-color: #E4F4FC;
  border-bottom: #006cad solid 0.5vh;
  color: #006298;


}

.navbuttonsubDiv {
  width: 33.33333%;
}

.mainBox {
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
}

.homeHeader {
  text-align: center;
}

.kursContainer {
  display: flex;
  flex-direction: column;
}

.kursCard {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 30vw;
  height: 65vh;
  border: 1px solid gray;
}

.kursIMGDiv {
  height: 65%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.kursIMG {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.kursH2Div {
  width: 100%;
  height: 10%;
  /* background-color: green; */
}

.kursCard h2 {
  text-align: center;
  margin: 0;
}

.kursPDiv {
  height: 15%;
  width: 100%;
  /* background-color: red; */
}

.kursPDiv p {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.kursButtonDiv {
  width: 100%;
  height: 10%;
  /* background-color: yellow; */
}

.kursButton {
  /* background-color: lightblue; */
  border: 1px gray solid;
  height: 100%;
  width: 100%;
  border: none;
  transition: 0.5s;
}

.kursButton:hover {
  background-color: #E4F4FC;
  border-bottom: #006cad solid 2px;
}
