.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* fill: #61DAFB; */
}
.App-logo:hover {
  height: 40vmin;
  /* fill: red; */

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
    animation-iteration-count: infinite;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 1s linear;

  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.SwitchButton {
  position: absolute;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  0%   {fill:red; transform: rotate(0deg); width: 40vmin;}
  25%  {fill:yellow; transform: rotate(90deg);}
  50%  {fill:#61dafb; transform: rotate(180deg); width: 70vmin;}
  75%  {fill:yellow; transform: rotate(270deg);}
  100% {fill:red; transform: rotate(360deg); width: 40vmin;}
}
