body {
  margin: 0;
  overflow-x: hidden;
  background-color: #4E616C;
}

button {
  color: black;
  border: none;
  background-color: transparent;
}


.formDiv {
  /* background: red; */
  border: 1px solid;
  width: 50%;
  height: fit-content;
  margin: 15vh auto;
  padding: 0 10% 0 10%;
  background-color: white;
  box-shadow: 1px 2px 10px 1px;
  border-radius: 10px;
}

.headerText {
  font-size: 4em;
  text-align: center;
  display: block;
  /* width: 100%; */
  margin: 5% auto;
}

.passwordInput {
  width: 100%;
  height: 5%;
}

.passWord {
  font-size: 1em;
  line-break: auto;
  white-space-collapse: 1px;
}

.homePageButtons {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;

}

.homePageButtons a {
  width: 100%;
  height: 10vh;
  /* font-size: 1.5em; */
  margin: 5% auto;
  border: 1px solid;
  border-radius: 10px;
}

/* .homePageButtons a:hover {
  background-color: #003153;
  color: white;
} */

.homePageButtons button {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
}

.homePageButtons button:hover {
  background-color: #003153;
  color: white;
}

/* nav {
  width: 100%;
  height: 7vh;
  border: 1px solid;
  display: flex;
  background-color:	#003153;
  box-shadow: 1px 2px 10px 1px;
  font-size: 1.5em;
}

nav a {
  color: white;
  text-decoration: none;
}

.navDiv {
  border: 1px;
  border-style: none none none solid;
  border-color: black;
  border-width: 1px;
  width: 25%;
  color: white;
  text-align: center;
  transition: 0.25s;
}

.navDiv:hover {
  background-color: #00233b;
  color: white;
  border-color: red;
  border-width: 0.5vw;
  width: 24.5%;
}

#navLogoDiv{
  margin-right: 25%;
}

#navLogoDiv:hover {
  width: 25%;
  border: none;
}

#logo {
  width: 100%;
  height: 100%;
}

.loginButton {
  width: 100%;
  height: 10vh;
  margin-bottom: 10vh;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.5em;
  transition: 0.25s;
}

.loginButton:hover {
  background-color: #00233b;
  color: white;
  border-width: 0.5vw;

} */










.navBar {
  display: flex;
  height: 12vh;
  width: 100vw;
  border-bottom: solid 1px gray;
  background-color: white;
  box-shadow: 0px 0px 10px 1px black;
  /* background-color: red; */
}

.navlogoDiv {
  width: 40%;
  height: 100%;
  align-items: center;
  position: relative;
  left: 1%;
  /* background-color: blue; */
}

.navbuttonDiv {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  width: 50%;
  height: 100%;
  position: relative;
  right: -1%;
}

.navButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  font-size: 1em;
}

.navButton:hover {
  background-color: #E4F4FC;
  border-bottom: #006cad solid 0.5vh;
  color: #006298;


}

.homeH2 {
  color: white;
  text-align: center;
  margin: 0;
}

.navbuttonsubDiv {
  width: 33.33333%;
  height: 100%;
}



.homeHeader {
  color: white;
  text-align: center;
}


.styled_table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.8vw;
  /* border: 1px solid black; */
  background-color: white;
  width: 90vw;
  margin: 10vh auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px black;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 6px; /* Smaller padding */
  text-align: center;
}

.styled-table th {
  background-color: #f2f2f2;
}

.headerText {
  font-size: 4vw;
}

td {
  border: 1px solid black;
}
